In [49]:
import pandas as pd

In [50]:
## data Exploration
ibrahim_data = pd.read_csv(r"data\ibrahim.csv", sep=";")
florina_data = pd.read_csv(r"data\florina.csv", sep=";")
mohamed_data = pd.read_csv(r"data\mohamed.csv", sep=";")

dataset = pd.concat([ibrahim_data, florina_data, mohamed_data])

In [51]:
zero_data = pd.concat([pd.read_csv(r"C:\Users\moham\Downloads\ibrahim2.csv", sep=";", encoding='utf-8'), pd.read_csv(r"C:\Users\moham\Downloads\lina2 (version).csv", sep=";", encoding="utf-8")])

In [52]:
dataset = dataset[dataset['label'] != 0]

In [53]:
dataset = dataset[["news", "label"]]

In [54]:
dataset.head

<bound method NDFrame.head of                                                    news  label
0      As the temperatures in the UK soar, don’t for...    1.0
2      Can you just make sure the Tesla paint doesn’...   -1.0
3      He taught himself computer programming at 10,...    1.0
4      Because an old tech thinking. Gas cars have a...    1.0
5      Articles for months Wall Street journal. Expl...   -1.0
...                                                 ...    ...
2797   When are you going to come out with the Actua...    1.0
2798   To which Musk replied, "Ha! You'll have to ca...    1.0
2799   Two reasons to buy the Porsche instead of the...   -1.0
2800   Elon Musk Sued by Tesla Shareholder Over Raci...   -1.0
2801   Build Nikola Tesla’s Wardenclyffe Tower to hi...   -1.0

[4471 rows x 2 columns]>

In [55]:
zero_data.columns

Index(['Column1', 'news', 'label'], dtype='object')

In [56]:
zero_data = zero_data[["news", "label"]]

In [57]:
dataset = pd.concat([dataset, zero_data])

In [58]:
dataset = pd.concat([dataset, pd.read_csv(r"to_clean\mohamed.csv", sep=",")[["news", "label"]]])

In [59]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7905 entries, 0 to 1330
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   news    7839 non-null   object
 1   label   6574 non-null   float64
dtypes: float64(1), object(1)
memory usage: 185.3+ KB

In [60]:
dataset.to_csv(r"data\ready_data.csv", sep=";")