In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data.csv', sep = ',')

In [3]:
df.head()

                                                news  label
0  demand Tesla mile significantly increase ton p...    0.0
1  yeah course absolutely embarasse man like see ...    0.0
2                                remind FUD Tesla go    0.0
3  SpaceX Tesla create electrostatic fusion confi...    1.0
4                               wanna Tesla hope day    1.0

In [4]:
df[df["label"] == 0].shape

(3994, 2)

In [5]:
to_clean = df[df["label"] == 0]

In [6]:
to_clean

                                                   news  label
0     demand Tesla mile significantly increase ton p...    0.0
1     yeah course absolutely embarasse man like see ...    0.0
2                                   remind FUD Tesla go    0.0
8                      Tesla charge handle like Porsche    0.0
9     hire electrician Tesla site run line wall charger    0.0
...                                                 ...    ...
6948                             like prove twitter bot    0.0
6950                                         see parent    0.0
6951  check Hot Wheels R c Tesla Cyber Truck Mattel ...    0.0
6954  muslim woman Noo kınaft PAPA PAMILE ok Iwil or...    0.0
6962                                             future    0.0

[3994 rows x 2 columns]

In [7]:
to_clean[to_clean["news"] == "yes"]

     news  label
2513  yes    0.0
3009  yes    0.0
3673  yes    0.0

In [8]:
to_clean.drop(to_clean[to_clean.news == "yes"].index)

                                                   news  label
0     demand Tesla mile significantly increase ton p...    0.0
1     yeah course absolutely embarasse man like see ...    0.0
2                                   remind FUD Tesla go    0.0
8                      Tesla charge handle like Porsche    0.0
9     hire electrician Tesla site run line wall charger    0.0
...                                                 ...    ...
6948                             like prove twitter bot    0.0
6950                                         see parent    0.0
6951  check Hot Wheels R c Tesla Cyber Truck Mattel ...    0.0
6954  muslim woman Noo kınaft PAPA PAMILE ok Iwil or...    0.0
6962                                             future    0.0

[3991 rows x 2 columns]

In [9]:
def check_long_of_sentence(sentence):
    if len(sentence.split(" ")) > 2:
        return sentence
    else:
        return ''

In [10]:
to_clean["news"] = to_clean["news"].apply(check_long_of_sentence)

C:\Users\moham\AppData\Local\Temp\ipykernel_12976\757048193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_clean["news"] = to_clean["news"].apply(check_long_of_sentence)

In [11]:
to_clean[to_clean["news"] == "None"]

Empty DataFrame
Columns: [news, label]
Index: []

In [12]:
to_clean = to_clean[to_clean["news"].isnull() != True]

In [16]:
to_clean.shape

(3994, 2)

In [17]:
def split_dataframe_to_third(data):
    dataframes = []
    dataframe_length = len(data)
    
    for i in range(1, 4):
        value = int(i * (dataframe_length / 3))
        dataframes.append(data.iloc[int((i - 1) * (dataframe_length / 3)):value,])
    
    return dataframes

In [19]:
datasets = split_dataframe_to_third(to_clean)

In [20]:
ibrahim_dataframe = datasets[1]
florina_dataframe = datasets[2]
mohamed_dataframe = datasets[0]

In [ ]:
ibrahim_dataframe.to_csv("to_clean\ibrahim.csv", sep=",")
florina_dataframe.to_csv("to_clean\florina.csv", sep=",")
mohamed_dataframe.to_csv("to_clean\mohamed.csv", sep=",")