In [2]:
import pandas as pd
import re
import datetime

In [2]:
bbc_news = pd.read_csv(r"Scraping\BBC News\data.csv", sep=",", index_col=0)

In [3]:
bbc_news.head()

                                                news         date    category
0  Elon Musk Tesla pay package heads to court A s...  14 November    Business
1  Elon Musk sells almost $4bn of Tesla shares It...   9 November    Business
2  Tesla recalls 40,000 cars over power-steering ...   8 November  Technology
3  Tesla sales climb but miss expectations Elon M...   19 October    Business
4  Tesla's Optimus and the problem with humanoids...    8 October  Technology

In [4]:
def format_date(date):
    Months = {
        "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6, "July": 7, "August": 8
        , "September": 9, "October": 10, "November": 11, "December": 12
    }
    date_components = date.split(" ")
    
    if len(date_components) == 2:
        year = "2022"
        day = date_components[0]
        month = str(Months[date_components[-1]])
                    
        if len(month) == 1:
            month = "0" + month
        
    else:
        day = date_components[0]
        month = str(Months[date_components[1]])
        
        if len(month) == 1:
            month = "0" + month
                    
        year = date_components[-1]
    
    return "-".join([year, month, day])

In [5]:
bbc_news["date"] = bbc_news["date"].apply(format_date)

In [45]:
bbc_news = bbc_news[["date", "news"]]
bbc_news.head()

         date                                               news
0  2022-11-14  Elon Musk Tesla pay package heads to court A s...
1   2022-11-9  Elon Musk sells almost $4bn of Tesla shares It...
2   2022-11-8  Tesla recalls 40,000 cars over power-steering ...
3  2022-10-19  Tesla sales climb but miss expectations Elon M...
4   2022-10-8  Tesla's Optimus and the problem with humanoids...

In [7]:
newYorkTime_news = pd.read_csv(r"Scraping\New York Times\data.csv", sep=",", index_col=0)

In [8]:
newYorkTime_news.head()

                                                news                      date
0  The company says it has determined the likely ...  2017-01-02T14:30:09+0000
1  The return to business for Elon Musk’s company...  2017-01-14T17:58:44+0000
2  The highway agency found that while Tesla’s Au...  2017-01-20T01:34:40+0000
3  Electric vehicles offer a new chance to Chines...  2017-01-26T16:43:52+0000
4  The political tide might seem unfavorable for ...  2017-01-26T17:39:58+0000

In [9]:
newYorkTime_news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   news    1316 non-null   object
 1   date    1316 non-null   object
dtypes: object(2)
memory usage: 30.8+ KB

In [10]:
newYorkTime_news.drop_duplicates(inplace=True)

In [11]:
newYorkTime_news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 961 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   news    961 non-null    object
 1   date    961 non-null    object
dtypes: object(2)
memory usage: 22.5+ KB

In [12]:
newYorkTime_news["date"] = newYorkTime_news["date"].apply(lambda x: x.split("T")[0])

In [43]:
newYorkTime_news = newYorkTime_news[["date", "news"]]
newYorkTime_news.head()

         date                                               news
0  2017-01-02  The company says it has determined the likely ...
1  2017-01-14  The return to business for Elon Musk’s company...
2  2017-01-20  The highway agency found that while Tesla’s Au...
3  2017-01-26  Electric vehicles offer a new chance to Chines...
4  2017-01-26  The political tide might seem unfavorable for ...

In [27]:
twitts = pd.read_csv(r"C:\Users\moham\Downloads\Tesla.csv", sep=",", index_col=0)

In [28]:
twitts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358 entries, 0 to 10015
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      7358 non-null   object
 1   tweet     7358 non-null   object
 2   nlikes    7358 non-null   int64
 3   nreplies  7358 non-null   int64
dtypes: int64(2), object(2)
memory usage: 287.4+ KB

In [29]:
twitts.head()

,date,tweet,nlikes,nreplies
0,2022-07-11 17:06:24,@GailAlfarATX @elonmusk @Tesla @teslacn @Tesla...,0,0
1,2022-07-11 17:06:21,@elonmusk @GailAlfarATX @Tesla @teslacn @Tesla...,0,0
2,2022-07-11 17:06:20,"@elonmusk #Think about buying a country , #Mex...",0,0
3,2022-07-11 17:06:12,"@get_innocuous Actual receipts, and yet you ha...",0,0
4,2022-07-11 17:06:09,Tesla wall battery for the save! Power went ou...,0,0

In [30]:
twitts["date"] = twitts["date"].apply(lambda x: x.split(" ")[0])

In [31]:
twitts.head()

,date,tweet,nlikes,nreplies
0,2022-07-11,@GailAlfarATX @elonmusk @Tesla @teslacn @Tesla...,0,0
1,2022-07-11,@elonmusk @GailAlfarATX @Tesla @teslacn @Tesla...,0,0
2,2022-07-11,"@elonmusk #Think about buying a country , #Mex...",0,0
3,2022-07-11,"@get_innocuous Actual receipts, and yet you ha...",0,0
4,2022-07-11,Tesla wall battery for the save! Power went ou...,0,0

In [32]:
def remove_tags_from_tweets(tweet):
    result = ''
    tweet_component = tweet.split(' ')
    
    for comp in tweet_component:
        if len(comp) == 0:
            continue
            
        if comp[0] == '@':
            continue
        else:
            result = result + ' ' + comp
    return result

In [33]:
twitts["tweet"] = twitts["tweet"].apply(remove_tags_from_tweets)

In [34]:
twitts.head()

,date,tweet,nlikes,nreplies
0,2022-07-11,I have six. 4 of them still live at home bein...,0,0
1,2022-07-11,Then go for your dozen kids… you are just mis...,0,0
2,2022-07-11,"#Think about buying a country , #Mexico ? You...",0,0
3,2022-07-11,"Actual receipts, and yet you haven’t asked an...",0,0
4,2022-07-11,Tesla wall battery for the save! Power went o...,0,0

In [49]:
tweet = twitts[["date", "tweet"]]
tweet.columns = ["date", "news"]

In [51]:
tweet.head()

         date                                               news
0  2022-07-11   I have six. 4 of them still live at home bein...
1  2022-07-11   Then go for your dozen kids… you are just mis...
2  2022-07-11   #Think about buying a country , #Mexico ? You...
3  2022-07-11   Actual receipts, and yet you haven’t asked an...
4  2022-07-11   Tesla wall battery for the save! Power went o...

In [52]:
tweet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358 entries, 0 to 10015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    7358 non-null   object
 1   news    7358 non-null   object
dtypes: object(2)
memory usage: 172.5+ KB

In [53]:
df = pd.concat([newYorkTime_news, bbc_news, tweet])

In [54]:
df.head()

         date                                               news
0  2017-01-02  The company says it has determined the likely ...
1  2017-01-14  The return to business for Elon Musk’s company...
2  2017-01-20  The highway agency found that while Tesla’s Au...
3  2017-01-26  Electric vehicles offer a new chance to Chines...
4  2017-01-26  The political tide might seem unfavorable for ...

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8609 entries, 0 to 10015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    8609 non-null   object
 1   news    8609 non-null   object
dtypes: object(2)
memory usage: 201.8+ KB

In [168]:
df.to_csv(r"C:\Users\moham\OneDrive\Desktop\Unternehmenssoftware\data.csv", sep=",")

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\moham\\OneDrive\\Desktop\\Unternehmenssoftware\\data.csv'

In [199]:
tesla_stock_prices = pd.read_csv("TSLA.csv", sep=",")

In [200]:
tesla_stock_prices.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-09-18,25.350000,25.974001,25.178667,25.666668,25.666668,107820000
1,2017-09-19,25.333332,25.492666,24.904667,25.006666,25.006666,96778500
2,2017-09-20,24.866667,25.216667,24.738001,24.927334,24.927334,73786500
3,2017-09-21,24.993334,25.122000,24.300667,24.431999,24.431999,69273000
4,2017-09-22,24.432667,24.660000,23.392000,23.406000,23.406000,122391000

In [201]:
tesla_stock_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

In [202]:
tweet.columns = ["date", "news", "open"]
tweet.head()
#tweet["open"] = tweet["date"].apply(lambda x: tesla_stock_prices[tesla_stock_prices["Date"] == x]["Open"])

         date                                               news        open
0  2022-07-11   I have six. 4 of them still live at home bein...  252.103333
1  2022-07-11   Then go for your dozen kids… you are just mis...  252.103333
2  2022-07-11   #Think about buying a country , #Mexico ? You...  252.103333
3  2022-07-11   Actual receipts, and yet you haven’t asked an...  252.103333
4  2022-07-11   Tesla wall battery for the save! Power went o...  252.103333

In [203]:
df["close"] = df["date"]

In [204]:
df["open"] = df["date"]
df["volume"] = df["date"]

In [205]:
df.columns

Index(['date', 'news', 'close', 'open', 'volume'], dtype='object')

In [206]:
df.head()

,date,news,close,open,volume
0,2017-01-02,The company says it has determined the likely ...,2017-01-02,2017-01-02,2017-01-02
1,2017-01-14,The return to business for Elon Musk’s company...,2017-01-14,2017-01-14,2017-01-14
2,2017-01-20,The highway agency found that while Tesla’s Au...,2017-01-20,2017-01-20,2017-01-20
3,2017-01-26,Electric vehicles offer a new chance to Chines...,2017-01-26,2017-01-26,2017-01-26
4,2017-01-26,The political tide might seem unfavorable for ...,2017-01-26,2017-01-26,2017-01-26

In [207]:
def merge_open_price(date):
    if tesla_stock_prices[tesla_stock_prices["Date"] == date].empty == True:
        return 0 
    else:
        return tesla_stock_prices[tesla_stock_prices["Date"] == date].iloc[0]["Close"]

In [208]:
df["close"] = df["close"].apply(merge_open_price)

In [209]:
def merge_close_price(date):
    date_format = "%Y-%m-%d"
    a = datetime.datetime.strptime(date, date_format)
    second_date = a + datetime.timedelta(days=1)
    second_date = str(second_date).split(" ")[0]
    
    if tesla_stock_prices[tesla_stock_prices["Date"] == second_date].empty == True:
        return 0 
    else:
        return tesla_stock_prices[tesla_stock_prices["Date"] == second_date].iloc[0]["Open"]

In [210]:
df["open"] = df["open"].apply(merge_close_price)

In [211]:
df[df["open"] != 0]

,date,news,close,open,volume
3,2017-09-28,"Mr. Musk’s booster, scaled back from last year...",22.639999,22.790667,2017-09-28
0,2017-10-05,This week’s newsletter explores Australia’s se...,23.688667,23.540001,2017-10-05
1,2017-10-05,"Compared to a short pit stop at a gas station,...",23.688667,23.540001,2017-10-05
4,2017-10-23,Tesla is said to be moving closer to becoming ...,22.468000,22.586666,2017-10-23
0,2017-11-01,In which I try to wrap my mind around tax inci...,21.405333,20.008667,2017-11-01
...,...,...,...,...,...
10010,2022-07-11,Elon Musk liked a tweet from Whole Mars Catal...,234.343338,236.846664,2022-07-11
10011,2022-07-11,Dude only said he is buying twitter to sell 8...,234.343338,236.846664,2022-07-11
10012,2022-07-11,Give me your Tesla,234.343338,236.846664,2022-07-11
10014,2022-07-11,"Chick Fil A should definitely go public, they...",234.343338,236.846664,2022-07-11
10015,2022-07-11,"Fossil fuels. Like coal, natural gas...",234.343338,236.846664,2022-07-11

In [213]:
def merge_volume(date):
    date_format = "%Y-%m-%d"
    a = datetime.datetime.strptime(date, date_format)
    second_date = a + datetime.timedelta(days=1)
    second_date = str(second_date).split(" ")[0]
    
    if tesla_stock_prices[tesla_stock_prices["Date"] == second_date].empty == True:
        return 0 
    else:
        return tesla_stock_prices[tesla_stock_prices["Date"] == second_date].iloc[0]["Volume"]

In [216]:
df["volume"] = df["volume"].apply(merge_volume)

TypeError: strptime() argument 1 must be str, not int

In [222]:
df.to_csv("tesla_data.csv", sep=",")

In [2]:
df.info()

NameError: name 'df' is not defined

In [4]:
reuters = pd.read_csv(r"Scraping\reuters\scraped_data.csv", sep=",")

In [6]:
reuters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2503 entries, 0 to 2502
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      2503 non-null   int64
 1   category        2503 non-null   object
 2   title           2503 non-null   object
 3   date            2503 non-null   object
 4   url_to_article  0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 97.9+ KB

In [7]:
reuters.head()

,Unnamed: 0,category,title,date,url_to_article
0,0,Business,Comment: To plug the green economy data gap we...,30 min ago,NaN
1,1,Future of Money,Cryptocurrencies at crossroads after annus hor...,an hour ago,NaN
2,2,Markets,Wall Street falls fourth straight day as reces...,2:27 AM GMT+1,NaN
3,3,Charged,U.S. Treasury will delay EV battery sourcing g...,12:28 AM GMT+1,NaN
4,4,World,"Senator Warren, Tesla investor turn up heat ov...","December 19, 2022",NaN

In [9]:
reuters = reuters[["date", "title"]]

In [10]:
reuters.head()

                date                                              title
0         30 min ago  Comment: To plug the green economy data gap we...
1        an hour ago  Cryptocurrencies at crossroads after annus hor...
2      2:27 AM GMT+1  Wall Street falls fourth straight day as reces...
3     12:28 AM GMT+1  U.S. Treasury will delay EV battery sourcing g...
4  December 19, 2022  Senator Warren, Tesla investor turn up heat ov...

In [4]:
dataset = pd.read_csv("tesla_data.csv", sep=";")

In [15]:
def split_dataframe_to_third(data):
    dataframes = []
    dataframe_length = len(data)
    
    for i in range(1, 4):
        value = int(i * (dataframe_length / 3))
        dataframes.append(data.iloc[int((i - 1) * (dataframe_length / 3)):value,])
    
    return dataframes

In [16]:
datasets = split_dataframe_to_third(dataset)

In [17]:
datasets[0].head()

,Unnamed: 0,date,news,label
0,0,1/2/2017,The company says it has determined the likely ...,-1.0
1,1,1/14/2017,The return to business for Elon Musk’s company...,1.0
2,2,1/20/2017,The highway agency found that while Tesla’s Au...,1.0
3,3,1/26/2017,Electric vehicles offer a new chance to Chines...,-1.0
4,4,1/26/2017,The political tide might seem unfavorable for ...,-1.0

In [25]:
ibrahim_dataframe = datasets[1]
florina_dataframe = datasets[2]
mohamed_dataframe = datasets[0]

In [26]:
ibrahim_dataframe.to_csv("ibrahim.csv", sep=",")
florina_dataframe.to_csv("florina.csv", sep=",")
mohamed_dataframe.to_csv("mohamed.csv", sep=",")